.itinerary-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.category-select {
  font-size: 26px;
  border: none;
  background-color: #ddd9d9;
  padding: 0 10px;
}

.todo-button {
  font-size: 50px;
  border: none;
  border-radius: 5px;
  background-color: #ddd9d9;
  padding: 7px 23px;
}
