.trip-details {
    display: flex;
    flex-flow: column wrap;
    font-size: 22px;
}

.header {
    flex-flow: row wrap;
    width: 98vw;
    margin-bottom: 80px;
}

.header-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-top: 3px solid #302e2e;
    border-bottom: 3px solid #302e2e;    
}

h1 {
    font-size: 46px;
    padding-left: 25px;
  }

.update-delete {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
}

.update {
    text-decoration: none;
    color: #000000;
    font-size: 26px;
}

.update:hover {
    color: #911b0c;
    text-decoration: underline;
}

.delete {
    font-size: 26px;
    border: none;
    background-color: #F7EFE6;
}

.delete:hover {
    color: #911b0c;
    text-decoration: underline;
}


.time-money {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 30px 0;
}

.date-duration {
    line-height: 50px;
}

.todo-list {
    display: flex;
    flex-flow: column wrap;
    padding: 25px;
    /* border: 3px solid red; */
}

.todo-list-form {
       border: 2px solid #000000;
       border-radius: 5px;
       background-color: #ddd9d9;
}

.todo-title {
    padding-left: 25px;
}