.trip-form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 22px;
}

form {
  /* border: 3px solid red; */
  display: flex;
  flex-flow: column wrap;
}

.top-half-form {
  display: flex;
  justify-content: space-around;
}

.destination-img {
  display: flex;
  flex-flow: column wrap;
  padding: 30px;
  align-items: center;
  justify-content: space-evenly;
  line-height: 50px;
  border: 2px solid #000000;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: #ddd9d9;
}

.date-duration {
  display: flex;
  flex-flow: column wrap;
  padding: 30px;
  align-items: center;
  justify-content: center;
  line-height: 100px;
  border: 2px solid #000000;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: #ddd9d9;
}

.budget-form {
  display: flex;
  margin: 80px 0;
  border: 2px solid #000000;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: #ddd9d9;
  width: 85vw;
  padding: 20px;
}

.budget-categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.accomendation-shopping {
  display: flex;
  justify-content: space-evenly;
  width: 70vw;
}

.entertainment-emergency {
  display: flex;
  justify-content: space-evenly;
  width: 70vw;
}

.submit-button {
  font-size: 40px;
  border: none;
  background-color: #f7efe6;
  padding: 7px 23px;
  margin: 10px 0 50px;
}
